<div class="orbit" >
  
  <ul class="orbit-wrap">
    
    <li class="orbit-center" >
      <i class="orbit-center__icon fa fa-code" style="font-size: medium;color:blue;font-weight: bold;">LANGUAGES</i>
    </li>

    <li>
      <ul class="ring-0" >
        <li><i class="orbit-icon fa fa-git">中</i></li>
        <li><i class="orbit-icon fa fa-git" style="font-size:larger;">മ</i></li>
        <li><a href="/admin" class="orbit-icon fa fa-free-code-camp" style="font-size:larger;">EN</a></li>
        <li><i class="orbit-icon fa fa-meetup"></i></li>
      </ul>
    </li>

    <li>
      <ul class="ring-1">
        <li><i class="orbit-icon fa fa-podcast"></i></li>
        <li><i class="orbit-icon fa fa-css3"></i></li>
        <li><i class="orbit-icon fa fa-html5"></i></li>
      </ul>
    </li>
    <li>
      <ul class="ring-2">
        <li><i class="orbit-icon fa fa-windows"></i></li>
        <li><i class="orbit-icon fa fa-safari"></i></li>
        <li><i class="orbit-icon fa fa-edge"></i></li>
        <li><i class="orbit-icon fa fa-linux"></i></li>
        <li><i class="orbit-icon fa fa-apple"></i></li>
        <li><i class="orbit-icon fa fa-chrome"></i></li>
        <li><i class="orbit-icon fa fa-android"></i></li>
        <li><i class="orbit-icon fa fa-firefox"></i></li>
      </ul>
    </li>
    <li>
      <ul class="ring-3">
        <li><i class="orbit-icon fa fa-coffee"></i></li>
        <li><i class="orbit-icon fa fa-terminal"></i></li>
        <li><i class="orbit-icon fa fa-heart-o"></i></li>
      </ul>
    </li>

  </ul>
  
</div>
<STyle>
  /* Orbit wrap */
.orbit .orbit-wrap{
 transform:translatex(-179px) translatey(-62px);
}

/* Orbit center */
.orbit .orbit-wrap .orbit-center{
 border-top-right-radius:50%;
 min-width:123px;
}

/* Font Icon */
.orbit-wrap .orbit-center i{
 position:relative;
 top:-8px;
}
</STyle>